.banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 5, 5);
  text-align: center;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(252, 251, 251); /* dark overlay */
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.banner-buttons button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.banner-buttons button:first-child {
  background-color: #0252ff;
  color: white;
}

.banner-buttons button:first-child:hover {
  background-color: #ffffff;
  color: #333
}

.banner-buttons button:last-child {
  background-color: #fff;
  color: #333;
}

.banner-buttons button:last-child:hover {
  background-color: #0252ff;
  color: #fff
}

.content-icon {
  font-size: 45px;
  margin-bottom: 15px;
  color: #ff4b2b; /* Font Awesome icon color */
}