.banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 5, 5);
  text-align: center;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(252, 251, 251);
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.banner-buttons button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.banner-buttons button:first-child {
  background-color: #0252ff;
  color: white;
}

.banner-buttons button:first-child:hover {
  background-color: #ffffff;
  color: #333
}

.banner-buttons button:last-child {
  background-color: #fff;
  color: #333;
}

.banner-buttons button:last-child:hover {
  background-color: #0252ff;
  color: #fff
}

/* front page banner2 */

.banner2 {
  background: black;
  padding: 80px 20px;
  color: black;
  text-align: center;
}

.banner2-title {
  font-size: 5rem;
  margin-bottom: 50px;
  color: #0252ff;
;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pricing-card {
  background: white;
  border-radius: 15px;
  padding: 150px 50px;
  width: 290px;
  text-align: left;
  box-shadow: 0 4px 15px;
}

.pricing-card.highlight {
  background: #0252ff;
  color: white;
  transform: translateY(-10px);
}

.pricing-card h3 {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center, top;
  font-size: 3rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.pricing-card ul {
  padding: 0;
  margin: 10px 10px 25px 0;
}

.pricing-card ul li {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.choose-btn {
  background: #fff;
  color: black;
  border: 2px solid black;
  padding: 15px 50px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.choose-btn:hover {
  background-color: #0252ff;
  color: white;
}

