.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fffbfb;
  font-family: 'Arial', sans-serif;
}

.login-card {
  background-color: #000000; 
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.login-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

/* Title */
.login-title {
  margin-bottom: 24px;
  font-size: 28px;
  color:  #0252ff;
;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Inputs */
.login-input {
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.login-input:focus {
  outline: none;
  border-color: #023dff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Button */
.login-button {
  padding: 12px 16px;
  background-color: #0252ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.login-button:hover {
  background-color: white;
  color: #0252ff;
  transform: scale(1.02);
}

.login-button:active {
  transform: scale(0.98);
}

.NoAccount {
  text-align: bottom;
  color: white;
  text-decoration: none;
  margin-top: 30px;
}