/* Basic global styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e5e5e5;
}

.main-content {
  padding-top: 80px; /* space for fixed navbar */
}